# Generated Python artifacts and local environments
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
environment.yml

# IDE and editor files
.vscode/

# Data, logs, and build artifacts
data/
artifacts/
wandb/
notebooks/
checkpoints/
scripts/
outputs/

# Other non-essential files
.git/
.gitignore
docker-compose.yml
.dockerignore
